#contact-info {
	font-size: .8em;
}

.job {
	background-color: #e9e5dc;
	border-radius: 15px;
	padding: .5px 0 .5px 15px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.accomplishments {
	font-size: .8em;
	margin-top: -20px;
}